@use '_variables.scss' as *;
@use '_base.scss' as *;

.abtUs{
    padding: 0.75rem;
}

// .More{
//     background-color: $color-beige;
//     color: black;
//     border-radius: 1rem;
//     padding: 1.4rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0 auto;
//     gap: 1rem;
// }