@use '_variables.scss' as *;

*,
*::before,
*::after {
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    height: 400vh;
    // background: linear-gradient(to bottom, $color-navy, $color-navy-dark);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.6rem;
}

.hide {
    display: none;
}