@use '_variables.scss' as *;
@use '_mixins.scss' as *;

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url('../assets/img/small_bg_header.webp') center/cover fixed;
    background-position: 49.5%;
    color: $color-beige;
    position: relative;

    @include mq('l') {
        background: url('../assets/img/big_bg_header.webp') center/cover fixed;
    }

    &::after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-black-alpha;
    }
}

h1 {
    font-weight: normal;
    text-align: center;
    flex-basis: 30%;
    @include mq {
        flex-basis: 17%;
    }
    font-size: 5rem;
    z-index: 1;
    animation: animation-opacity 2s forwards;

    @include mq {
        font-size: 6rem
    }

    @include mq('l') {
        font-size: 7rem
    }

    @include mq('xl') {
        font-size: 8rem
    }
}

.container-button-header {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    bottom: 20px;
    margin: 0 auto;
    z-index: 1;
    bottom: 6.5%;

    @include mq {
        bottom: 19.5%;
    }

}

.button-header {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: $color-navy;
    margin: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.25s;


    &:hover {
        // transform: translateY(-10px);
        transition: 0.2s;
        scale: 1.1;
    }

    .material-symbols-outlined {
        font-size: 4.5rem;
        color: $color-terracotta;

        @include mq {
            font-size: 5rem;
        }

        @include mq('xl') {
            font-size: 5.5rem;
        }

    }

    &:nth-of-type(1) {
        animation: animation-opacity 2s 0.2s forwards;
    }

    &:nth-of-type(2) {
        animation: animation-opacity 2s 0.3s forwards;
    }

    &:nth-of-type(3) {
        animation: animation-opacity 2s 0.4s forwards;
    }

    &:nth-of-type(4) {
        animation: animation-opacity 2s 0.5s forwards;
    }

    @include mq {
        height: 90px;
        width: 90px;
    }

    @include mq('l') {
        height: 100px;
        width: 100px;
    }

    @include mq('xl') {
        height: 110px;
        width: 110px;
    }
}