@use '_variables.scss' as *;
@use '_mixins.scss' as *;

section {
    min-height: 60vh;
    padding: 10rem 0;
    color: #FFFFFF;

    // &:nth-of-type(even) {
    //     background-color: $color-navy;
    //     color: white;
    // }

    // &:nth-of-type(odd) {
    //     color: $color-navy;
    // }

    h2 {
        text-align: center;
        font-size: 3.5rem;
        margin-bottom: 4.5rem;
        font-weight: 600;
    }

    h3 {
        font-size: 2.4rem;
    }

    @include mq('l') {
        p {
            font-size: 1.7rem;
        }
    }
}

.border{
    border-block: 3px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 10rem;
    padding-top: 10rem;
}

main{
        background: linear-gradient(to bottom, $color-navy, $color-navy-dark);
}