@use '_variables.scss' as *;
@use '_mixins.scss' as *;
@use '_animations.scss' as *;

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5%;
    color: $color-navy;
    background-color: $color-terracotta;
    border: 1px solid $color-navy-alpha3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.4s;
    box-shadow: 0px 0px 2px 1px $color-navy;


    @include mq ('xl'){
        width: 95%;
        margin-inline: 2.5%;
        border-radius: 15px;
    }
}

// .nav-small {
//     height: 7.5%;
// }


.logo,
.menu {
    flex-basis: 50%;
    padding: 10px;
}

.logo {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
}

.button-nav {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $color-navy;
    // margin: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.25s;
}

.menu {
    text-align: right;

    ul {

        @include mq('xl') {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            font-size: 2.5rem;

            li {
                border-bottom: 2px solid transparent;
                position: relative;
                transition: 0.25s;

                &::before,
                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    background-color: transparent;
                    transition: 0.3s;
                    width: 0;
                    left: 50%;
                }

                &:hover::after {
                    background-color: $color-navy-alpha;
                    right: 0%;
                    width: 50%;
                }

                &:hover::before {
                    background-color: $color-navy-alpha;
                    left: 0%;
                    width: 50%;
                }


                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }
}

.menu-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: $color-navy;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    color: $color-beige;
    font-size: 3.8rem;
    padding: 0;
    margin: 0;
    animation: menu-show .5s;

    li {
        // display: flex;
        // justify-content: center;
        // border: 1px solid red;
        width: 100%;
        margin-top: 2rem;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 1.8rem;
    }

    span {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

.menu .material-symbols-outlined {
    cursor: pointer;
    font-size: 4rem;

    @include mq {
        cursor: pointer;
    }

    @include mq('xl') {
        display: none;
    }
}