@use '_variables.scss' as *;

.promotion-box {
    background-color: $color-beige;
    color: black;
    border-radius: 1.5rem;
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    

    p {
        flex-basis: 80%;
        padding: 2rem;
        font-size: 2.5rem;
        padding-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;


        &:nth-of-type(1),
        &:nth-of-type(3) {
            flex-basis: 10%;
        }

        span {
            font-size: 4rem;
            font-weight: bold;
        }
    }
}