$color-navy: rgb(30, 42, 56);
$color-navy-dark: rgb(16, 25, 36);
$color-navy-alpha: rgba(30, 42, 56, 0.5);
$color-navy-alpha2: rgba(30, 42, 56, 0.7);
$color-navy-alpha3: rgba(30, 42, 56, 0.08);


$color-beige: rgb(237, 224, 212);
$color-beige-alpha: rgb(237, 224, 212, 0.65);

$color-green: #A3B18A;
$color-terracotta: #E07A5F;
$color-terracotta-alpha: rgb(224, 122, 95, 0.65);
$color-terracotta-alpha2: rgb(224, 122, 95, 0.5);
$color-mint: #BFD3C1;


$color-black-alpha: rgb(0, 0, 0, 0.45);
$color-black-alpha2: rgb(0, 0, 0, 0.75);



$c1: #D92534;
$c2: #3E688C;
$c3: #6093BF;
$c4: #5E9ABF;
$c5: #400101;